{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<fieldset>
    <legend>Send New Product</legend>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ create_form }}
        <input name="create" type="submit" value="Submit" />
    </form>
</fieldset>
<fieldset>
    <legend>Or choose existing one</legend>
    <form method="post">
        {% csrf_token %}
        {{ choose_form }}
        <input name="choose" type="submit" value="Submit" />
    </form>
</fieldset>

<!--<button type="submit" value="Submit">Send</button>-->
</body>
</html>